
*{
  padding: 0px;
  margin: 0px;
}


header{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: #ccc;
  margin-bottom: 1%;
}

.wrapper{
    max-width:960px;
    margin: 0 auto;
    margin-bottom: 1%;
}


.images img{
 margin-top:.5%;
 margin-left:2%;
 display: inline-block;
}


footer{
   width: 100%;
   text-align: center;
   color: white;
   font-size: 50px;
   background-color: #ccc;
} 	


@media  screen and (max-width:960px ) {
  .box{
      width: calc(100/4); 
  }


}
