 .wrapper{
   max-width: 600px;
   padding: 16px;
   margin:0 auto;
   margin-top:150px;
   border: 1px solid #9933cc;
}

form{
    padding: 20px;
    background-color: #fff;
}


input[type = text], input[type= password], input[type = email]{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;

}
.signup{
    width: 100%;
    padding: 12px 20px;
    background-color: #9933cc;
    color: #fff;
    margin-top: 10px;
    
}
